
///////////////////////////////////////////////////
// IMPORTS
///////////////////////////////////////////////////
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "mixins";


///////////////////////////////////////////////////
// VARIABLES
///////////////////////////////////////////////////


//fonts
$museo-slab: "museo-slab";

///////////////////////////////////////////////////
// INCLUE
///////////////////////////////////////////////////
@import "icons";


///////////////////////////////////////////////////
// MAIN
///////////////////////////////////////////////////

.typekit-badge {
	display: none !important;
}

*, *:before, *:after {
  @include box-sizing('border-box');
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	position: fixed;
	width: 100%;
	height: 100%; height: 100vh;
	background-color: #14171E;
}

$distance: 492px;
@include keyframes(bulge) {
	0% {
		@include transform(
			
			translateZ($distance)
			
		);
	}
	50% {
		@include transform(
			
			translateZ($distance + 200)
			
		);
	}
	100% {
		@include transform(
			
			translateZ($distance)
		
		);
	}
}




.spiral {
	@include perspective(1000px);
	// @include transform-origin(center center);


	$width: 320px;
	$height: 180px;
	$height: 180px;
	$distance: 492px;
	// $distance: 692px;

	ul {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; right: 0; bottom: 0; left: 0;
		margin: 0;
		list-style: none;
		@include transition(all 10s ease-in-out);
		@include transform-style(preserve-3d);
		@include transform(
			translate3d(0, 0, -$distance)
			rotateY(0deg)
			scale(1)
			rotateX(-90deg)
		);

		&.down {
			@include transform(
				translate3d(0, 0, -$distance)
				rotateY(0deg)
				scale(1)
				rotateX(-90deg)
			);

			@for $i from 0 through 201 {
				li:nth-child(#{$i+1}) {
					@include transform(
						rotateY($i*36deg)
						translateY($i*40px)
						translateZ($distance + 200)
						rotateX(-1800deg)
						rotateZ(1800deg)
					);
					
					
				}
			}

		}
		
	}

	li {
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$height/2;
		margin-left: -$width/2;
		display: block;
		width: $width;
		height: $height;
		opacity: .5;
		// @include backface-visibility(hidden);
		@include transition(all 10s ease-in-out);
	}

	@for $i from 0 through 201 {
		
		li:nth-child(#{$i+1}) {
			background: hsl($i*2.55,100%,30%);
			@include transform(
				rotateY($i*36deg)
				translateY($i*18px)
				translateZ($distance)
				rotateX(0deg)
				rotateZ(0deg)
			);
			&:hover {
				@include transform(
					rotateY($i*36deg)
					translateY($i*18px)
					translateZ($distance + 50)
					rotateX(0deg)
					rotateZ(0deg)
				);
			}
		}
	}

	// li:nth-child(1) { @include transform( translate3d(0,0, $distance) );}
}
