
///////////////////////////////////////////////////
// IMPORTS
///////////////////////////////////////////////////
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "mixins";


///////////////////////////////////////////////////
// VARIABLES
///////////////////////////////////////////////////

//fonts
$museo-slab: "museo-slab";

///////////////////////////////////////////////////
// INCLUE
///////////////////////////////////////////////////
@import "icons";

///////////////////////////////////////////////////
// MAIN
///////////////////////////////////////////////////

.typekit-badge {
	display: none !important;
}

*, *:before, *:after {
  @include box-sizing('border-box');
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	font-family: "Helvetica Neue", $museo-slab;
	font-weight: 100;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1020px;
	min-width: 320px;
	background: rgba(255,255,255,.1);
	font-size: 2em;
}

.wrapper {
	margin-top: 250px;
}

.simple {
	outline: none !important;
	background: none;
	background: transparent;
	border: none;
	display: block;
	width: 100%;
	margin: 0 auto;
	font-family: "Helvetica Neue", $museo-slab;
	font-weight: 100;
	font-size: 2em;
	text-align: center;
}

.toggle {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	line-height: 3em;
	font-size: 1.2em;
	margin: 80px auto;
	display: block;
	text-align: center;
	max-width: 5em;
	padding: 1em;
	color: #fff;
	background: #F3614D;
	@include transition(.2s ease-out);
	&:hover {
		@include transform(scale(.9));
	}
}