
///////////////////////////////////////////////////
// IMPORTS
///////////////////////////////////////////////////
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "mixins";


///////////////////////////////////////////////////
// VARIABLES
///////////////////////////////////////////////////

//fonts
$museo-slab: "museo-slab";

///////////////////////////////////////////////////
// INCLUE
///////////////////////////////////////////////////
@import "icons";

///////////////////////////////////////////////////
// MAIN
///////////////////////////////////////////////////

.typekit-badge {
	display: none !important;
}

*, *:before, *:after {
  @include box-sizing('border-box');
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #032028;
	font-family: "Helvetica Neue", $museo-slab;
	font-weight: 100;
}

.container {
	text-align: center;
}

#svg {
	width: 100vw;
	height: 100vh;
	background: #032028;
	@include transform(scale(.7));

	#red-light, #yellow-light, #green-light {
		opacity: 0;
		@include transition(opacity .15s ease-out);
	}
}

@media (min-width: 600px) {
	#svg { @include transform(scale(.7)); }
}

